# Created by .ignore support plugin (hsz.mobi)
.idea/
.vscode/
resources/
build/
coverage/
node_modules/
.DS_Store
*-compiled.js.
*-compiled.js.map
dist/
dist-test/
run/
*.log
.pm2/
rpc/.idea
*.rdb
*.pid
bin/rsync.password
bin/nsq.sh
rpc/vendor/
typings/*
tsd.json
.ropeproject
*.swp
npm-debug.log.*
*.lock
stats.json
log.log
bin/task
.prettierrc

